@import url(/modules/css/config.less);

footer {
  background: #373c43;
  .layout-row {
    width: 970px;
  }
  .cr {
    font: 18px/10 'Raleway Medium';
    color: #fff;
  }

  ul {
    width: 380px;
    padding-top: 45px;
    float: right;
    .flex();
  }

  p {
    float: left;
  }

  li {
    a {
      display: block;
      width: 90px;
      height: 90px;
    }
    .facebook {
      background: url(../home/img/facebook_normal.png?__inline);
      background-size: cover;
      &:hover {
        background: url(../home/img/facebook_hover.png?__inline);
        background-size: cover;
      }
    }

    .line {
      background: url(../home/img/line_normal.png?__inline);
      background-size: cover;
      &:hover {
        background: url(../home/img/line_hover.png?__inline);
        background-size: cover;
      }
    }

    .youtube {
      background: url(../home/img/youtube_normal.png?__inline);
      background-size: cover;
      &:hover {
        background: url(../home/img/youtube_hover.png?__inline);
        background-size: cover;
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  footer {
    background: #373c43;
    .layout-row {
      width: auto;
    }
    .cr {
      padding-top: 20px;
      font: 14px/2 'Raleway Medium';
      text-align: center;
    }

    ul {
      width: auto;
      padding: 10px 60px 30px;
      float: none;
      .flex();
    }

    p {
      float: none;
    }

    li {
      a {
        display: block;
        width: 60px;
        height: 60px;
      }
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 1142px) {
  footer {
    .layout-row {
      width: auto !important;
      padding: 0 20px;
    }
  }
}